<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OFirmaDigitalPDF.OfirmaDigital" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OFirmaDigitalPDF.OfirmaDigital" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <connectionStrings>
    <!--<add name="ConexionDBO" connectionString="Data Source=toyota\Digitalware; Initial Catalog=seven; User=DWeb; Password=Digit@l89"/>-->
    <add name="ConexionDBO" connectionString="Data Source=asus; Initial Catalog=sac; User=kclient; Password=Sistemas123"/>
  </connectionStrings>
  <appSettings file="">
    <add key="pFimrImage" value="\\diegoC1\Compartida\firmaLogo.png"/>
    <add key="pUseTimestampServer" value="True"/>
    <add key="pTimestampServer" value="http://tsa.safelayer.com:8093"/> <!--http://tsa.safelayer.com:8093--> <!--http://192.168.255.20:8080/verificationserver/rfc3161timestamp-->
    <add key="pActivarAuditoria" value="False"/>
    <add key="pRutaArchivoAuditoria" value="\\diegoC1\Compartida"/>
    <add key="pTestAplic" value="True"/>
    <add key="pTestOrigen" value="\\diegoC1\Compartida\EF1.PDF"/>
    <add key="pTestDestino" value="\\diegoC1\Compartida\EF1_Fir1.PDF"/>
    <add key="pTestRuta" value="\\diegoC1\Compartida\"/>
    <add key="pTestAplic2" value="False"/>
    <add key="pTestDestino2" value="\\diegoC1\Compartida\EF1_Fir2.PDF"/>
    <add key="pUseProxy" value="False"/>
    <add key="pProxy" value="1.1.1.1"/>
    <add key="pPortProxy" value="8081"/>
    <add key="pTimestampUC" value="False"/>
    <add key="pUTimestampServer" value="DiegoC"/>
    <add key="pPTimestampServer" value="Sistemas123"/>
    <add key="ftp" value="ftp://web"/>
    <add key="usr" value="usuarioftp"/>
    <add key="pas" value="$Digit@lFTP"/>
    <add key="rutDes" value="Seven/docs/AC_ORDEN"/>
  </appSettings>
<system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
        <proxy/>
        <bypasslist/>
        <module/>
    </defaultProxy>
</system.net>
</configuration>
