<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISGnMenusWCF">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_ISBpSvrcnWCF">
                    <security mode="None">
                        <transport sslProtocols="Default, Tls11, Tls12" />
                    </security>
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ISGnMenusWCF">
                    <reliableSession inactivityTimeout="01:00:00" enabled="true" />
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_ISBpSvrcnWCF">
                    <reliableSession inactivityTimeout="01:00:00" enabled="true" />
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://gold.digitalware.com.co/Seven/SevenCoreServicesGN/SGnMenus.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISGnMenusWCF"
                contract="SGnMenus.ISGnMenusWCF" name="NetTcpBinding_ISGnMenusWCF" />
            <endpoint address="http://gold.digitalware.com.co:8082/Seven/SevenCoreServicesGN/SGnMenus.svc/ws"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISGnMenusWCF"
                contract="SGnMenus.ISGnMenusWCF" name="WSHttpBinding_ISGnMenusWCF" />
            <endpoint address="net.tcp://bpm-brm.digitalware.com.co/seven/SevenCoreServicesBP/SBpSvrcn.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISBpSvrcnWCF"
                contract="SWfSvrcn.ISBpSvrcnWCF" name="NetTcpBinding_ISBpSvrcnWCF" />
            <endpoint address="http://bpm-brm.digitalware.com.co/seven/SevenCoreServicesBP/SBpSvrcn.svc/ws"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISBpSvrcnWCF"
                contract="SWfSvrcn.ISBpSvrcnWCF" name="WSHttpBinding_ISBpSvrcnWCF" />
        </client>
    </system.serviceModel>
</configuration>